@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section LeftPanelContent {
    @Html.Partial("~/Views/Shared/LeftNavigators.cshtml")
}

<div class="text-content" id="TextContent">
    <h1>Barebone Project</h1>
</div>